body {
    background-color: rgb(235, 235, 235);
    font-family: Arial;
}

.contenedor {
    background-color: white;
    width: 360px;
    margin: auto;
    padding: 20px;
}

h2 {
    color: rgb(40, 80, 120);
    font-size: 30px;
}

label {
    color: rgb(50, 50, 50);
    font-size: 18px;
}

input {
    font-size: 18px;
    width: 100%;
    margin-bottom: 15px;
}

button {
    background-color: rgb(40, 80, 120);
    color: white;
    font-size: 18px;
    width: 100%;
    margin-bottom: 8px;
}