body {
    background-color: rgb(232, 215, 164);
    font-family: Arial;
}

.contenedor {
    background-color: rgb(255, 210, 210);
    width: 300px;
    padding: 56px;

}

h2 {
    color: rgb(22, 57, 78);
    font-size: 28px;
}

label {
    color: rgb(81, 5, 5);
    font-size: 20px;
}

input {
    font-size: 18px;
    width: 100%;
    margin-bottom: 15px;
}

button {
    background-color: rgb(40, 90, 120);
    color: white;
    font-size: 20px;
    width: 100%;
}