body {
    background-color: rgb(179, 141, 141);
    font-family: Arial;
}

.contenedor {
    background-color: rgb(191, 180, 180);
    width: 380px;
    margin: auto;
    padding: 20px;
}

h2 {
    color: rgb(45, 80, 120);
    font-size: 28px;
}

label {
    color: rgb(50, 50, 50);
    font-size: 18px;
}

input {
    font-size: 18px;
    width: 100%;
    margin-bottom: 15px;
}

button {
    background-color: rgb(45, 80, 120);
    color: white;
    font-size: 20px;
    width: 100%;
    margin-bottom: 15px;
}