body {
    background-color: rgb(221, 246, 229);
    font-family: Arial;
}

.contenedor {
    background-color: rgb(144, 125, 147);
    margin: auto;
    padding: 20px;
}

h2 {
    color: rgb(178, 19, 45);
    font-size: 28px;
}

label {
    color: rgb(17, 17, 15);
    font-size: 20px;
}

input {
    font-size: 18px;
    width: 100%;
    margin-bottom: 15px;
    background-color: aquamarine;
}

button {
    background-color: rgb(30, 80, 120);
    color: white;
    font-size: 20px;
    width: 100%;
}